<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Today's top headlines</h1>
    </div>
</div>
<!-- News cards -->

<div class="card-deck">
    <div class="card" *ngFor="
      let newsItem of Headlines
        | paginate
          : { itemsPerPage: tableSize, currentPage: page, totalItems: count };
      let i = index
    ">
        <img class="card-img-top" src="{{ newsItem.urlToImage }}" onerror="this.src='assets/5_(39).jpg'" alt="news" />
        <div class="card-body">
         <a href="{{newsItem.url}}"><h5 class="card-title">{{ newsItem.title }}</h5></a>
            <p class="card-text">
                {{newsItem.description}}
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated {{UTCDate(newsItem.publishedAt)}}</small>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
</div>